[ng-click]{
  cursor: pointer;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

.redactor_editor{
  min-height: 300px;
}

@media only screen and (max-width: 992px){
  .modal:not(.bottom-sheet) {
    width: 80%;
    max-width: none;
  }
}
